{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.

{deps, [
        {mochiweb, "1.5.0", {git, "http://github.com/mochi/mochiweb.git","HEAD"}},
        {log4erl, "0.9.0", {svn, "http://log4erl.googlecode.com/svn/trunk/", "HEAD"}},
	{erlydtl, "0.6.1", {git, "http://github.com/evanmiller/erlydtl.git", "HEAD"}},
        {emongo, "0.0.5", {hg, "https://bitbucket.org/rumataestor/emongo", "tip"}}
       ]}.


{erlydtl_opts, [
               {doc_root,   "templates"},
               {out_dir,    "ebin"},
               {source_ext, ".dtl"},
               {module_ext, "_dtl"}
              ]}.

{eunit_opts, [verbose]}.
