{sub_dirs, ["rel"]}.
{cover_enabled, false}.

{deps, [
        {mochiweb, "1.3", {git, "http://github.com/mochi/mochiweb.git","9a53dbd7b2c52eb5b9d4"}},
        {log4erl, "0.9.0", {svn, "http://log4erl.googlecode.com/svn/trunk/", "58"}},
	{erlydtl, "0.6.1", {git, "http://github.com/evanmiller/erlydtl.git", "a33b9d1789d0cf932ee9"}}
       ]}.


{erlydtl_opts, [
               {doc_root,   "templates"},
               {out_dir,    "ebin"},
               {source_ext, ".dtl"},
               {module_ext, "_dtl"}
              ]}.
