{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.

{deps, [
        {mochiweb, ".*", {git, "http://github.com/mochi/mochiweb.git","HEAD"}},
        {log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", "HEAD"}},
        {erlydtl, ".*", {git, "http://github.com/evanmiller/erlydtl.git", "HEAD"}},
        {emongo, ".*", {hg, "https://bitbucket.org/rumataestor/emongo", "tip"}}
       ]}.


{erlydtl_opts, [
               {doc_root,   "src/templates"},
               {out_dir,    "ebin"},
               {source_ext, ".html"},
               {module_ext, "_tpl"}
              ]}.

{eunit_opts, [verbose]}.
