{sys, [
       {lib_dirs, []},
       {rel, "probix_server", "1",
        [
         kernel,
         stdlib,
         sasl,
 	 inets,
	 crypto,
	 log4erl,
	 mochiweb,
	 mnesia,
         probix
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "probix_server"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, log4erl, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, probix, [{incl_cond, include}]}

      ]}.

{target_dir, "probix_server"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "data"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/probix_server", "bin/probix_server"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
